$black :#000000;
$white: #ffffff;
$grey: #bbc0d4;
$grey-05: rgba(187,192,212,0.5);
$red: #ec1d24;
$bg-c: #fafafa;

$nav-breakpoint : 1199px;

$nav-height: 110px;

@media (max-width:$nav-breakpoint){
	$nav-height: auto;

}