.jumbotron{
	text-align: center;
	background-size: cover !important;
	min-height: 500px;
	color: white;  
	@media (min-width: $screen-sm-min){
		min-height: 700px;
		padding-top: 200px;
		h1{
			font-size: 60px;
		}
	}
}

#home-carousel{
	.carousel-inner {
		.item {
			.image{
				text-align: center;
				background-size: cover !important;
				min-height: 732px;
			}
			img{
				width: 100%;
			}
			.carousel-caption{
				top: 30%;
				h1{
					font-size: 60px;
				}
				@media (max-width: $screen-xs-max){
					h1{
						font-size: 32px;
					}	
				}
			}
		} 

	}
	.carousel-indicators{
		bottom: 50px;
		li{
			opacity: 0.5;
			background-color: #ffffff;
			border:1px solid $red;
			&.active{
				background-color: $red;
				border: $red;
				opacity: 1;
			}
		}
	}
}
.product{
	margin-top: -40px;
	@extend .container;
	&--item{
		@include make-sm-column(4);
		margin-bottom: 30px;
		&--promotion{
			@include make-sm-column(6);
		}
		&--12{
			@include make-sm-column(12);
		}
	}
}

.to-top{
	@include make-xs-column(2);
	@include make-xs-column-offset(5);
	text-align: center;
	padding: 0;
	position: fixed;
	bottom: 34%;
	&.visible-xs.hide{
		display: none;
	}
	a{
		font-size: 15px;
		color:$gray;
		text-decoration: none;
		.fa{
			font-size: 48px;
			&.fa-circle-thin{
				i{
					position: absolute;
					top: 0;
					top: -2px;
					left: 48px;
				}
			}
		}
		span{
			width: 100%;
			float: left;
		}
	}
}